<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrkzs.test" >

    <!-- Required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 8.0 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.mrkzs.test.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Required APPID -->
        <meta-data
            android:name="ZSDK_APPID"
            android:value="1001" /> <!-- Required 无需修改 直接复制粘贴 -->
        <meta-data
            android:name="ZSDK_VERSION"
            android:value="4.0.3" /> <!-- Required SDK内部界面 屏幕方向请指定竖屏或横屏, 主题务必不要修改 -->
        <activity
            android:name="com.zsdk.sdklib.auth.AuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/zsdk_dialog" /> <!-- Required 公共界面 屏幕方向请指定竖屏或横屏 -->
        <activity
            android:name="com.zsdk.sdklib.auth.CommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> <!-- Required SDK核心服务 -->
        <service
            android:name="com.zsdk.sdklib.open.ZSDKService"
            android:exported="false" /> <!-- Required FileProvider -->
        <provider
            android:name="com.zsdk.sdklib.open.ZFileProvider"
            android:authorities="com.zsdk.sdkdemo.zsdk_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.ZSDK.FILE_PROVIDER_PATHS"
                android:resource="@xml/zsdk_filepaths" />
        </provider> <!-- Required 权限 -->
        <activity
            android:name="com.zsdk.sdklib.permission.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@style/ZSDKPermission.Theme.Activity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>
